<% content_for :title do %><%= @presenter.title %><% end %>
<% if ajax_enabled_for?(@presenter.name) %>
  <% content_for :head do %>
    <%= javascript_include_tag "smart-answers", defer: true %>
  <% end %>
<% end %>

<% unless @presenter.started? %><div class="grid-row"><% end %>
<main id="content" role="main">
  <div id="js-replaceable" <% if @presenter.started? %> class="smart-answer-questions group"<% end %>>
    <%= ajax_enabled_for?(@presenter.name) ? 'ajax enabled' : 'ajax disabled' %>
    <%= render partial: "content" %>
  </div>

  <div class="meta-wrapper">
    <div id="report-a-problem"></div>
    <%= render :partial => 'smartanswer_metadata' %>
  </div>
</main>
<% unless @presenter.started? %>
<div id="related-items"></div>
</div>
<% end %>
